h1 {
	margin: 0.5em 0;
}

.container {
	min-height: 50vh;
	text-align: center;
}

.legal-disclaimer {
	padding: 0 1em;
	font-size: 75%;
	font-weight: bold;
}

.social-footer {
	font-size: 300%;
}

.social-footer > a {
	color: white;
	margin-right: 0.5em;
}

.contact-footer > p > a {
	margin-left: 1em;
	font-size: 75%;
}

.social-top-nav {
	font-size: 150%;
	margin: 1em 0;
}

.social-top-nav > a {
	color: white;
	margin: 0 0.5em;
}

.contact-top > a {
	margin-left: 1em;
	font-size: 75%;
}