{% macro navbar(pages, title) %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      {% for key, value in pages.items() %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ value|e }}">{{ key|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endmacro %}


{% macro footer(title) %}
<footer class="page-footer font-small bg-dark">
  <div class="footer-copyright text-center py-1">Copyright &copy; 2020 <a href="/"> {{ title }}</a>.</div>
  <div class="footer-policies text-center py-1"><a href="/privacy-policy">Privacy Policy</a> <a href="/terms-of-use" style="margin-left: 1em">Terms of Use</a></div>
  <div class="footer-legal text-center py-1">
    <p>{{ title }} may receive compensation for products and services they recommend to you. {{ title }} personally uses a recommended resource unless it states otherwise. If you do not want {{ title }} to be compensated for a recommendation, then we advise that you search online for the item through a non-affiliate link.</p>
    <p>This site is not a part of the Facebook website or Facebook Inc. Additionally, This site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.</p>
  </div>
</footer>
{% endmacro %}